<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
  </head>
  <body>
    <h1>Users</h1>
    <ul>
      <% for (var i = 0; i < users.length; i++) { %>
        <li><a href="/user/<%= users[i].name %>"><%= users[i].name %></a> </li>
      <% } %>
    </ul>
  </body>
</html>
